$phoneWidth: 500px;

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.submitting_block {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  
  margin: 64px auto;

  animation: 1s slideFromTop;

  input {
    display: block;

    text-align: center;

    border-radius: 5px;
    border: 1px solid black;

    font-family: Montserrat;
    font-size: 24px;

    max-width: 360px;
    width: 100%;
    height: 50px;
    padding: 0;
  }

  button {
    border-radius: 5px;
    border: 1px solid black;

    margin-top: 12px;

    max-width: 360px;
    width: 100%;
    height: 35px;

    font-family: Montserrat;
    font-size: 15px;
    
    text-align: center;

    background-color: #0AA1DD;

    transition: all 0.15s;

    &:hover {
      background-color: #79DAE8;
      letter-spacing: 0.5px;
      cursor: pointer;
    }
  }

  @media screen and (max-width: $phoneWidth) {
    margin: 64px 32px;
  }
}